/* General */
html {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

body {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    margin: 0.75rem;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

/* Markdown */

h1, h2, h3, h4, h5, h6 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

pre {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
    padding: 0.5rem;
}

pre code {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

p code {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    padding: 0.125rem 0.25rem;
}

li code {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    padding: 0.125rem 0.25rem;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote p {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    padding-left: 0.25rem;
}
