/* General */
body {
    margin: 0;
    font-family: Ubuntu, system-ui;
}

main {
    overflow-wrap: break-word;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
}

a {
    color: black;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

/* Markdown */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

pre {
    background-color: rgba(243, 244, 246, 1);
    border: 1px solid rgba(156, 163, 175, 1);
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
    padding: 0.5rem;
}

pre code {
    background-color: rgba(243, 244, 246, 1);
}

p code {
    background-color: rgba(243, 244, 246, 1);
    border: 1px solid rgba(156, 163, 175, 1);
    padding: 0 0.125rem 0 0.25rem;
}

li code {
    background-color: rgba(243, 244, 246, 1);
    border: 1px solid rgba(156, 163, 175, 1);
    padding: 0 0.125rem 0 0.25rem;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(156, 163, 175, 1);
}

blockquote {
    margin: 0px;
}

blockquote p {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    padding-left: 0.50rem;
}
