nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
}

pre {
    background: lightgray;
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
}

body {
    overflow-wrap: break-word;
}

img {
    max-width: 100%;
}