html {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

pre {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
}

code {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

body {
    overflow-wrap: break-word;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}