body {
  font-family: monospace;
  text-align: center;
  background-color: #232931;
  color: #e6e6e6;
  margin: 0;
}
h1 {
  color: #4ecca3;
  font-family: monospace;
}
a:-webkit-any-link {
  color: #4ecca3;
}
.header {
  background-color: #393e46;
}
.header .nav {
  padding: 0;
  margin: 0;
}
.header .nav li a {
  text-decoration: none;
}
.header .nav li {
  display: inline-block;
  padding: 10px;
}
.header .nav li img {
  max-height: 30px;
  width: auto;
}

main {
  margin: auto;
  max-width: 600px;
}

section {
  line-height: 2;
  text-align: justify;
}
