body {
  font-family: Ubuntu;
  text-align: center;
  background-color: #282a36;
  color: #e6e6e6;
  border-color: #e6e6e6;
  margin: 0;
}
body h1 {
  color: #42b983;
}
.header {
  background-color: #3B6E67;
}
.header .nav {
  padding: 0;
  margin: 0;
}
.header .nav li a {
  text-decoration: none;
}
.header .nav li {
  display: inline-block;
  padding: 10px;
}