body {
  font-family: Ubuntu;
  text-align: center;
}
.header .nav {
  padding: 0;
}
.header .nav li a {
  text-decoration: none;
}
.header .nav li {
  display: inline-block;
  padding: 20px;
}
.post-list-item .title {
  margin-left: 10px;
}